[
   {lager, [
        {handlers, [
            {lager_console_backend, info},
            {{lager_file_backend,"error.log"},{"log/error.log",error, 0, "$D0",30}},
            {{lager_file_backend,"full_log.log"},{"log/full_log.log",info,10485760, "$D0",5}}
        ]},
        {colored, true}
    ]},
  {socksv5, [
    {listen, {{127,0,0,1}, 7170}}
  ]}
].