%% Depends
{deps_dir, ["deps"]}.

%% Applications
%{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.

%% Compiler options
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.


{deps, [
    {lager,     ".*", {git, "git://github.com/basho/lager",           "master"}}
]}.
